{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block sidebar %}
<h1>{{ category.title }}</h1>
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория: {{ item.category.title }}
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="Photo" width="350" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|truncatewords:100 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Прочесть новость</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:"Y-m-d H:i" }}
    </div>
</div>
{% endfor %}
{% endblock %}


